<section class="homepageDis">
  <div>
    <h3>Track you shipments</h3>
    <p>Just copy paste all your containers and press search</p>
    <p>As long as each container is seperated by something results should get displayed</p>
    <p>Can be comma, line break, quotes, space etc.</p>
  </div>
  <article>
    <h4>Search ETA at Port</h4>
    <p>Currently supported - Maersk</p>
    <a class="waves-effect waves-light btn-small" href="/portEta"><i class="material-icons left">cloud</i>Port ETA</a>
  </article>
  <article>
    <h4>Search ETA at CN</h4>
    <a class="waves-effect waves-light btn-small" href="/trackCn"><i class="material-icons left">cloud</i>CN ETA</a>
  </article>
</section>