<form action="/api/parser/jane" method="POST" enctype="multipart/form-data">
  <h3>Upload the Excel file</h3>
  <input type="file" name="pdfFileSelect" accept="application/pdf"></input>
  <input type="submit"></input>
</form>